
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    box-sizing: border-box;

    img {
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 10px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 25px; // Ajustez la taille selon vos besoins
        text-shadow: rgba(0, 0, 0, 0.358) 1px 0 5px;
        color: $tertiary-color; // Couleur des chevrons, ajustez selon votre thème
    
        &.prev {
          left: 16px; // Ajustez la position à gauche selon vos besoins
        }
    
        &.next {
          right: 16px; // Ajustez la position à droite selon vos besoins
        }
      }
}