
.collapse {
  margin-top: 40px;
  width: 100%;
  
    &__header {
      background-color: $primary-color;
      margin: 0 auto;
      padding: 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      width: 100%;

      @include desktop {
        width: 80%;
      }
  
      h3 {
        margin: 0;
        font-size: 24px;
        color: $tertiary-color;
      }
  
      span {
        font-size: 24px;
        color: $tertiary-color;
        margin-right: 10px;
      }
    }
  
    &__content {
      padding: 10px;

      @include desktop {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
