
.grid-container {
    width: 100%;
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 40px;
      background-color: $secondary-color;
      padding: 40px;
      border-radius: 20px;
      grid-gap: 40px;
    }
  
  .grid-item {
    height: 255px;
  }

}