
header {
    width: 100%;
    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @include inferieur {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    @include desktop {
        padding: 45px;
      }

    img {
        height: 45px;
    }

    nav {
      display: flex;
      gap: 25px;
      font-family: 'Montserrat';

      @include inferieur {
        flex-direction: column;
      }

      @include desktop {
          gap: 55px;
        }
      
      a {
          text-decoration: none;
          font-size: 12px;
          color: black;

          @include desktop {
              font-size: 24px;
            }
      } 
    }

    .active-link {
      text-decoration: underline !important;
    }
}


