
.tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    border-radius: 5px;
    min-width: 85px;
    height: 20px;
    padding: 10px;

    @include desktop {
        height: 25px;
    }

    .tag-container__button {
        color: $secondary-color;
        font-size: 10px;

        @include desktop {
            height: 14px;
        }
    }
}